@model PaginationVM<IEnumerable<ProductListItemVM>>



                        @foreach (var item in Model.Items)
                        {
                                <div class="product-card">
                                    <div class="product-header">
                                        <a href="#" class="author">
                                            jpple
                                        </a>
                                        <h3>
                                            <a asp-action="Details" asp-route-id="@item.Id">
                                                @item.Name
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="product-card--body">
                                        <div class="card-image">
                                            <img src="~/@item.ImageUrl" alt="">
                                            <div class="hover-contents">
                                                @if (item.HoverImageUrl == null)
                                                {
                                                    <a asp-action="Details" asp-route-id="@item.Id" class="hover-image">

                                                        <img src="~/@item.ImageUrl" alt="">
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-action="Details" asp-route-id="@item.Id" class="hover-image">

                                                        <img src="~/@item.HoverImageUrl" alt="">
                                                    </a>
                                                }
                                                <div class="hover-btns">
                                                    <a href="cart.html" class="single-btn">
                                                        <i class="fas fa-shopping-basket"></i>
                                                    </a>
                                                    <a href="wishlist.html" class="single-btn">
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                    <a href="compare.html" class="single-btn">
                                                        <i class="fas fa-random"></i>
                                                    </a>
                                                    <a href="#" data-toggle="modal" data-target="#quickModal"
                                                       class="single-btn">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price-block">
                                            <span class="price">@(item.SellPrice * (decimal)item.Discount / 100)</span>
                                            <del class="price-old">@item.SellPrice</del>
                                            <span class="price-discount">@item.Discount%</span>
                                        </div>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul id="prod-pag" class="pagination justify-content-center">
                        <li class="page-item @(Model.HasPre ? "" : "disabled")"><a class="page-link" asp-action="ProductPagination" asp-route-page="@(Model.CurrentPage - 1)" asp-route-count="2">Previous</a></li>
                        @for (int i = 1; i <= Model.LastPage; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")"><a class="page-link" asp-action="ProductPagination" asp-route-page="@i" asp-route-count="2">@i</a></li>
                        }
                        <li class="page-item @(Model.HasNext ? "" : "disabled")"><a class="page-link" asp-action="ProductPagination" asp-route-page="@(Model.CurrentPage + 1)" asp-route-count="2">Next</a></li>
@*                         <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li> *@
                    </ul>
                </nav>
